# Estimating Pi using Monte Carlo/__pycache__
# Estimating Pi using Monte Carlo/media

*/__pycache__
*/media
*/assets

Chaos game basic/*/__pycache__
Chaos game basic/*/media

Chaos game basic/*/assets